.intro {
    /* height: 325vh; */
}

.index {
    pointer-events: none;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 12rem;
    line-height: 12rem;
    color: #fff;
    text-shadow: 1px 0px 0px #000,
    0px -1px 0px #000,
    0px 1px 0px #000,
    -1px 0px 0px #000;
    opacity: .3;
    height: 0;
    writing-mode: vertical-lr;
    z-index: -1;
}

.sd-intro {
    position: absolute;
    top: 0;
    right: 0;
}



.intro .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 900;
    position: relative;
    /* left: 2.5rem; */
    /* margin-bottom: 1.5rem; */
    /* margin-top: 5rem; */
    line-height: 5rem;
}

.intro .title .txt {
    margin-left: -2px;
}

.intro .title small{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100% ,0%);
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
    text-shadow: 1px 0px 0px #000,
    0px -1px 0px #000,
    0px 1px 0px #000,
    -1px 0px 0px #000;
    line-height: 0rem;

}

.intro .sub-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: -1.8rem;
}

.intro .row {
    margin-bottom: 5rem;
}

.intro .row.project {
    margin-bottom: 0;
}

.intro .row img {
    width: 100%;
    object-fit: cover;
}

.intro .row .txt {
    font-size: .9rem;
    margin-top: 1rem;
}

.intro .row .card-txt {
    position: absolute;
    top: 1rem;
    left: 0;
    padding: 15px;
    background-color: #fff;
}

/* 3D */
.intro .row:nth-of-type(3) {
    text-align: start;
}

.intro .row:nth-of-type(3) .title {
    display: inline-block;
}

.intro .row:nth-of-type(3) .txt {
    position: absolute;
    width: 35%;
    padding: 15px;
    background-color: #fff;
    left: 0%;
    top: 50%;
    transform: translateX(-75%);
}

.intro .row:nth-of-type(3) small:nth-last-child(1) {
    position: absolute;
    right: 0;
}

/* web */
.intro .row:nth-of-type(4) .title {
    display: block;
}

.intro .row:nth-of-type(4) .txt {
    position: absolute;
    width: 35%;
    padding: 15px;
    background-color: #fff;
    right: 0%;
    top: 50%;
    transform: translateX(75%);

}

/* project */

.intro .project .wrap {
    width: 75%;
    margin-top: 3rem;
}

.intro .project .col-lg-6:nth-of-type(odd) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.intro .project .col-lg-6:nth-of-type(odd) .txt {
    font-weight: 100;
    font-size: 2rem;
    margin-right: 40px;
    display: inline-block;
}



@media (max-width: 992px) { 
    .intro .project .wrap {
        width: 90%;
    }
    .intro .project .col-lg-6:nth-of-type(odd) {
        border-left: 2px solid #000;
    }
    .intro .project .col-lg-6:nth-of-type(odd) .txt {
        text-align: start;
    }
    .intro .project .col-lg-6:nth-of-type(even) .txt li {
        list-style: none;

        margin-bottom: 1rem;
    }

}

@media (min-width: 992px) {
    .intro .project .wrap {
        width: 75%;
    }
    .intro .project .col-lg-6:nth-of-type(odd) {
        border-right: 2px solid #000;
    }
    .intro .project .col-lg-6:nth-of-type(odd) .txt {
        text-align: end;
    }
    .intro .project .col-lg-6:nth-of-type(even) .txt li {
        list-style: none;

        margin-bottom: 1.5rem;
    }

}

.intro .project .col-lg-6:nth-of-type(even) .txt li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro .project .col-lg-6:nth-of-type(even) .txt li .item {
    pointer-events: none;
    padding: 0 5px 0 10px;
    height: 40px;
    line-height: 40px;
}

.intro .project .col-lg-6:nth-of-type(even) .txt {
    margin-top: 1.5rem;
}

.intro .project .col-lg-6:nth-of-type(even) .txt span {
    pointer-events: none;
    background: #555;
}



.intro .preview {
    pointer-events:none;
    position: absolute;
    top: 0;
    left: 10vw;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    transition: top .3s;
}

.intro .preview .box {
    width: 302px;
    height: 202px;
    border: 1px solid #000;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro .preview .box .txt {
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    transform: scaleY(0.9);
}

.intro .preview .box img {
    object-fit: cover;
    width: 300px;
    height: 200px;
}

.intro .preview .arrow {
    width: calc(40vw - 302px);
    border-bottom: 1px solid #000;
}

.intro .txtEfct {
    position: absolute;
    width: 300px;
    height: 40px;
    top: 0;
    left: 0;
    border: 1px solid #000;
    /* background: #000; */
    backdrop-filter: invert(1);
    transition: top .3s, width .3s;
}


.intro .cateEfct {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 40px;
    top: 0;
    left: 0;
    /* background: #000; */
    backdrop-filter: invert(1);
    transition: top .3s , width .3s;
}

.intro .cateEfct .white {
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: top .3s , width .3s;
}