/* font-family: 'Noto Sans TC', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Noto Serif TC', serif; */

html,
body {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif
}

a {
    text-decoration: none;
    color: black;
}

/* lock screen */

html.fixWindow {
    overflow: hidden;
}

/* 隱藏scoll-bar > */
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
	overflow: auto;
}
/* < 隱藏scoll-bar */

.tail {
    pointer-events:none;
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .07s;
}

.particles {
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* top: 100vh; */
}


.main {
    position: absolute;
    transition: 1s;
    left: 0;
    /* filter: blur(5px); */
}

.main.blur {
    filter: blur(5px);
}

.main.show {
    left: 25vw;
}

.page {
    position: absolute;
    background-color: #fff;
    width: 100%;
    top: 100vh;
    border-top: 1px solid #000;
}

.blink {
    height: 25vh;
}

@media (max-width: 992px) {
    .blink {
        height: 10vh;
    }
}


/* navbar zoom > */

.navBar {
    position: fixed;
    width: 25vw;
    top: 0;
    transition: 1s;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navBar img {
    width: 75%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.navBar .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navBar_lg {
    left: -25vw;
}
.navBar_sm {
    width: 100vw;
}
.navBar.show {
    left: 0;
}

@media (max-width: 992px) { 
    .navBar.hide {
        display: none;
    }
}

@media (min-width: 992px) {
    .navBar.hide {
        left: -25vw;
    }
}

.navBarItem {
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 0px solid #fff;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.navBarItem::before {
    content: "";
    width: 0%;
    height: 0px;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 2px;
    transition: .5s;
}

.navBarItem:hover::before {
    width: 100%;
}

@media (max-width: 992px) { 
    .navBarItem {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .navBarItem {
        font-size: 0.8rem;
    }
}

.menuIcon {
    position: fixed;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.menuIcon.hide {
    display: none;
}

.menuIcon-sm {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    cursor: pointer;
}

.menuIcon-sm.hide {
    display: none;
}

/* < navbar zoom */





/* RWD */
/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 

}

@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

.container {
    border-left: 1px dotted rgba(0, 0, 0, 0.3);
    border-right: 1px dotted rgba(0, 0, 0, 0.3);
}