html,
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* lock screen */

html.fixWindow {
    overflow: hidden;
}

/* 隱藏scoll-bar > */
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: calc(100vw + 18px);
	overflow: auto;
}
/* < 隱藏scoll-bar */

.tail {
    pointer-events:none;
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: .07s;
}

.background {
    background: #f6f;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}


.main {
    position: absolute;
    transition: 1s;
    left: 0;
}
.mainNavBarShow {
    left: 25vw;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

/* navbar zoom > */

.navBar {
    position: fixed;
    width: 25vw;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 1s;
    z-index: 9999;
}
.navBar_lg {
    left: -25vw;
}
.navBar_sm {
    width: 100vw;
}
.navBarShow {
    left: 0;
}
.navBarHide {
    display: none;
}

.navBarItem {
    margin-left: 20px;
    margin-top: 20px;
    border-bottom: 0px solid #fff;
    position: relative;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.navBarItem::before {
    content: "";
    width: 0%;
    height: 0px;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 2px;
    transition: .5s;
}

.navBarItem:hover::before {
    width: 100%;
}

@media (max-width: 992px) { 
    .navBarItem {
        font-size: 2rem;
    }
}

@media (min-width: 992px) {
    .navBarItem {
        font-size: 0.8rem;
    }
}

.menuIcon {
    position: fixed;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
}

.menuIcon-sm {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    cursor: pointer;
}

/* < navbar zoom */





/* RWD */
/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 

}

@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

.workBlock {
    width: 100vw;
    height: 200px;
    position: relative;
    top: 0;
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
}

.workBlockOpen {
    height: 100vh;
}

/* 標題 */

.indexTop,
.indexBotton {
    position: absolute;
    font-size: 5rem;
    height: 10vh;
    width: 100vw;
    opacity: 1;
    z-index: 1000;
    color: #000;
    line-height: 20vh;
    transition: 1s;
    overflow: hidden;
    text-align: center;
}

.indexTop {
    top: -10vh;
}

.indexBotton {
    bottom: -10vh;
    line-height: 0;
}

.marquee {
    font-size: 2rem;
    position: absolute;
    width: 200vw;
    height: 10vh;
    line-height: 10vh;
    top: 0;
    opacity: 0;
    /* background: rgba(255, 0, 0, 0.486); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 1s;

}

.marqueeTop {
    animation: marqueeTopRun 10s infinite linear;
}

.marqueeBottom {
    animation: marqueeBottomRun 10s infinite linear;
}

.marqueeItem {
    /* background: #0f0; */
}

.marqueeShow {
    transition-delay: 1s;
    opacity: 1;
}

@keyframes marqueeTopRun {
    from{ left: 0; }
    to{ left: -100vw;}
}

@keyframes marqueeBottomRun {
    from{ left: -100vw; }
    to{ left: 0vw;}
}

/* 隱藏標題 */

.workIndexTitle {
    opacity: 1;
    transition: 1s;
    transition-delay: 0.5s;
}

.workIndexTitleHide {
    opacity: 0;
    transition-delay: 0s;
}

/* 內容區 */

.zoom {
    width: 100vw;
    height: 0;
    position: absolute;
    top: 10vh;
    display: flex;
    justify-content: center;
    transition: height 1s;
}

.zoomOpen {
    height: 80vh;
}

.content {
    height: 0vh;
    background: #fff;
    position: absolute;
    /* z-index: 2; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: height 1s;
}

.contentOpen {
    height: 80vh;
}

/* 線條動畫 */

.line {
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    /* transition: 1.5s; */
    transition-delay: 1s;
}

.lineTop {
    transform-origin: left;
}

.lineBottom {
    transform-origin: right;
}

.lineOpen {
    transform: scaleX(1);
    transition: 1.5s;
    transition-delay: 1s;

}

/* slick */
.slickUI {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.pre,
.next {
    cursor: pointer;
    color: #000;
}

.pre:hover,
.next:hover {
    color: #aaa;
}

.slickUIIcon {
    margin: 10px;
}
